html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FEA621;
}   
.header {
    background-color: #FEA621;
    padding: 10px;
    text-align: center;
    font-size: 36px;
    color: white;
}       
nav {
    display: flex;
    justify-content: left;
    gap: 32px;
    font-weight: bolder ;
    padding: 10px 20px;
}

.nav-link {
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-decoration: none;
}   
.nav-link:hover {
    text-decoration: none;}       

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 60px);
    padding: 40px 20px 60px;
    text-align: center;
    }

    p { font-weight: bold; color: white;justify-content: left; }


.contact-title {
    font-size: 32px;
    margin-bottom: 16px;
    color: white;
    
}
.smile.image {
    width: 100px;
    display: block;
    margin: 0 auto 24px;
        }

.contact-form {
    background-color: white;
    padding: 24px;
    border-radius: 16px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 320px;
    box-sizing: border-box;
}


.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    font-size: 15px;
    margin-bottom: 8px;
    display: flex;
    font-weight: bold;
    color: #333;
    text-transform: lowercase;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: 1px; 
    font-family: Arial, Helvetica, sans-serif;   
    box-sizing: border-box;
}
.container {
            display: flex;
            align-items: left;
            justify-content: center;
        } 

.contact-form {text-align: left;
}

.submit-button {
    margin-top: 8px;
    padding: 8px 14px;
    background-color: #FEA621;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer  
}
.submit-button:hover {
    background-color: #FEA621;
}