.header {
    background-color: #e38e0e;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    color: white; 
}
.html-body {
    margin: 0;
    padding: 0;
    font-family:  arial, helvetica, sans-serif;
    background-color: #FEA621;
    }   


.mon-profile-picture {
    width: 200px;
}
.bio  {
display: flex;
align-items: center;
padding: 100px;
background-color: #FEA621;
}

.bio-text {
    padding:0px 100px ;
}

p {
    font-size: large;
}

.footer {
    background-color: #FEA621;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}
.nav-link:visited {
    color: white;
}
.nav-link:hover {
    background-color: #ff7a00;
    color:#e38e0e
}
    
    .contact-section {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 120px 2400x 40px;
        text-align: center;
    }

    .contact-title {
        font-family: arial, helvetica, sans-serif;
        font-size: 36px;
        color: white;
        text-align: center;
        margin-bottom: 20px;
    }

    .contact-form {
        background-color: #e38e0e;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        max-width: 500px;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 24px 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }

    
    .form-group {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .form-group label {
        margin-bottom: 5px;
        font-weight: bold;
        color: white;
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
        padding: 10px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        font-family:Arial, Helvetica, sans-serif;
    }
    .form-group input:focus,
    .form-group textarea:focus {
        border-color: #e38e0e;
        outline: none;
    }
        
    .submit-button {
        background-color: #e38e0e;
        color: white;
        padding: 120px 240px;
        border: none;
        border-radius: 40px;
        font-size: 16px;
        cursor: pointer;
        font-family: arial, helvetica, sans-serif;
        justify-content: center;
    }

    .contact-form
    .submit-button:hover {
        background-color: #ff7a00;
    } 


    